<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Monoton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/admin.css">
</head>
<body>
    <header>
        <div class="logo"> <span class="material-symbols-outlined menu-toggle">menu</span> GX-Movies</div>
        <div class="right">
            <div class="notification"><span class="material-symbols-outlined">notifications</span></div>
            <div class="img-wrapper" title="ADMIN Account">
                <% if(user) {%>
                <img src="/uploads/<%= user.user.imag %>" alt=""> 
              <% } else {%>
                <img src="/images/man.png" alt=""> 
              <% } %> 
            </div>
        </div>
    </header>
    <section>
        <div class="menu">
            <ul>
                <li><a href="/admin"><span class="material-symbols-outlined" title="Dashboard">dashboard</span> <span class="side-title" title="dashboard">Dashboard</span></a></li>
                <li><a href="/"><span class="material-symbols-outlined" title="Videos">Theaters</span> <span class="side-title" title="movies">Movies</span></a></li>
                <li><a href="/admin/users"><span class="material-symbols-outlined" title="Users">Group</span> <span class="side-title" title="users">Users</span></a></li>
                <li><a href="/"><span class="material-symbols-outlined" title="MY Account">Account_Circle</span></i> <span class="side-title" title="Account">Account</span></a></li>
                <li><a href="/"><span class="material-symbols-outlined" title="settings">settings</span> <span class="side-title" title="settings">Setting</span></a></li>
                <li><a href="/admin/logout"><span class="material-symbols-outlined" title="logout">Move_Item</span><span class="side-title" title="logout">Logout</span></a></li>
            </ul>
        </div>
        <div class="content">
            <div class="message">Welcome          
                <div class="status">
                    <% if(user) { %>
                        <% let use = user.user %>
                        <% if(use.firstname){ %>
                            <%= use.firstname %>
                        <% } else { %>
                            <% let split = use.email.split('@') %>
                              <%= split[0] %>
                        <% } %>        
                    <% } else { %>
                        
                        <%= 'ADMIN' %>
                    <% } %>  
                    !!!  
                </div>
            </div>
            <div class="box">
                <div class="users b">
                    <div class="top">Total No Users</div>
                    <div class="value num">
                            <% let userNo = User.length %>
                                <% if(userNo.toString().length > 3 && userNo.toString().length < 7) {%>
                                    <%= `${userNo/1000}K` %>
                                <% } else if(userNo.toString().length >= 7 && userNo.toString().length <= 9) {%>
                                    <%= `${userNo/1000000}M` %>
                                <% } else {%>
                                    <%= userNo %>
                                 <% } %>               
                    </div>
                </div>
                <div class="Videos b">
                    <div class="top">Total No Videos</div>
                    <div class="value num">
                        <% let movie = user.movies %>
                        <% let movieNo = movie.length %>
                        <% if(movieNo.toString().length > 3 && movieNo.toString().toString().length < 7) {%>
                            <%= `${movieNo/1000}K` %>
                        <% } else if(movieNo.toString().length > 6 && movieNo.toString().length < 8) {%>
                            <%= `${movieNo/1000000}M` %>
                        <% } else {%>
                            <%= movieNo %>
                         <% } %>   
                    </div>
                </div>
                <div class="visits b"></div>
                <div class="visits b"></div>
            </div>
        </div>
    </section>

    <script>
        /* toogle theme */
        // script.js
        let dark = '<span class="material-symbols-outlined">contrast</span>'
        document.addEventListener("DOMContentLoaded", () => {
            const toggleButton = document.getElementById("toggle-theme");
            const body = document.body;

            toggleButton.addEventListener("click", () => {
                body.classList.toggle("dark-theme");
            });
        });


    </script>
</body>
</html>