<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Monoton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
   <link rel="stylesheet" href="/admin.css">
</head>
<body>
    <header>
        <div class="logo"> <span class="material-symbols-outlined menu-toggle">menu</span> GX-Movies</div>
        <div class="right">
            <div class="notification"><span class="material-symbols-outlined">notifications</span></div>
            <div class="img-wrapper" title="ADMIN Account">
                <% if(user) {%>
                <img src="/uploads/<%= user.user.imag %>" alt=""> 
              <% } else {%>
                <img src="/images/man.png" alt=""> 
              <% } %> 
            </div>
        </div>
    </header>
    <section>
        <div class="menu">
            <ul>
                <li><a href="/admin"><span class="material-symbols-outlined">dashboard</span> <span class="side-title">Dashboard</span></a></li>
                <li><a href="/"><span class="material-symbols-outlined">Theaters</span> <span class="side-title">Movies</span></a></li>
                <li><a href="/admin/users"><span class="material-symbols-outlined">Group</span> <span class="side-title">Users</span></a></li>
                <li><a href="/"><span class="material-symbols-outlined">Account_Circle</span></i> <span class="side-title">Account</span></a></li>
                <li><a href="/"><span class="material-symbols-outlined">settings</span> <span class="side-title">Setting</span></a></li>
                <li><a href="/admin/logout"><span class="material-symbols-outlined">Move_Item</span><span class="side-title">Logout</span></a></li>
            </ul>
        </div>
        <div class="content">
            <div class="message">Welcome 
                <% if(user) { %>
                    <%= user.firstname %>
                <% } else {%>
                    <%= 'ADMIN' %>
                <% } %>        
                !!!</div>  
                    <div class="box users">
                        <% if(users) {%>
                            <% users.forEach((user,index) => { %>
                                <div class="users-b">
                                    <div class="user-wrapper">
                                        <div class="img-wrapper">
                                            <div class="user-img-wrapper">
                                                <% if(user.imag) {%>
                                                    <img src="/uploads/<%= user.imag %>" alt=""> 
                                                  <% } else {%>
                                                    <img src="/images/man.png" alt=""> 
                                                  <% } %> 
                                            </div>
                                        </div>
                                        <div class="detail-wrapper">
                                            <div class="details">
                                                <% let use = user.user %>
                                                    <% if(user.firstname){ %>
                                                        <%= user.firstname + ' ' + user.lastname %>
                                                    <% } else { %>
                                                        <% let split = user.email.split('@') %>
                                                        <%= split[0] %>
                                                        
                                                    <% } %> 
                                            </div>
                                        </div>
                                        <div class="button-wrapper">
                                            <div class="button button<%= index %>" data-user='<%= JSON.stringify(user) %>'>Expand</div>
                                        </div>
                                    </div>
                                </div>
                           <% }); %>
                        <% } %>  
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pop-up-wrapper">
        <div class="pop-up">
            <div class="pop-pic-wrapper">
                <div class="pic-wrapper">
                    <img src="../public/uploads/profileImage-1702572533574.jpg" alt="">
                </div>
            </div>
            <div class="pop-details-wrapper">
                    <div class="pop-close-wrapper" onclick="closePop()">
                        <span class="material-symbols-outlined close-pop" title="close">
                            close
                        </span>
                    </div>
                    <div class="pop-details">
                       <div class="all">
                        <div class="firstname d"><span class="title">First_Name</span>: </div>
                        <div class="lastname d"><span class="title">Last_Name</span>: </div>
                        <div class="middlename d"><span class="title">Middle_Name</span>: Joe</div>
                        <div class="email d"><span class="title">Email</span>: </div>
                        <div class="gender d"><span class="title">Gender</span>: </div>
                        <div class="gender d"><span class="title">Age</span>: </div>
                        <div class="gender d"><span class="title">D.O.B</span>: </div>
                       </div>
                       
                    </div>
                    <div class="pop-btn-wrapper">
                        <div class="delete btn">Delete User</div>
                        <div class="Update btn">Update Status</div>
                    </div>
            </div>
        </div>
    </section>


    <script src="/js/popup.js"></script>
</body>
</html>