<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie <%= movie.title %></title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <%- include('partials/head.ejs') %> 
</head>
<body> 
    
    <!--Scroll-progress-bar=======================-->
    <div id="progress">
        <span id="progress-value"></span>
    </div>
    
    <%- include('./partials/nav.ejs') %>

    <div class="cont-upload-ep-wrapper">
        <form class="form-ep">
            <div class="close" onclick="closeform()"><span class="material-symbols-outlined">
                close
                </span>
            </div>
            <div class="close" onclick="closeform()"><span class="material-symbols-outlined">
                close
                </span></div>
                <div class="main-ep">
                    <div class="ep-wrapper">
                        <input type="tel" name="episodeNumber" id="episodeNumber">
                        <input type="file" id="epFile" name="episodeFile" accept=".mkv,.mp4">
                    </div>
                </div>
                <div class="addBtn" onclick="add_New_Ep()">Add</div>
            <button type="submit">Upload</button>
        </form>
    </div>

    <!--===Movie-Bannner================================================-->
    <section class="movie-banner">

        <!--===img=====================-->
        <div class="m-banner-img">
            <img src="<%= movie.image %>" alt="">
        </div>



        <!-- content----============================= -->

        <div class="banner-container">

            <!-- title-container**************************--->
            <div class="title-container">
                <!--title-top==================-->
                <div class="title-top">

                <!-- title--- -->
                <div class="movie-title">
                    <h1>
                      <%= movie.title %>
                    </h1>
                </div>

                <!-- more-about-movie--------->
                <div class="more-about-movie">
                    <span class="quality"><%= movie.quality %></span>
                    <div class="rating">
                        8.2 <img src="/images/OIP (3).jpeg" alt="imbd">
                    </div>
                    <span><%= movie.year %></span>
                    <span> <%= movie.length %> </span>
                </div>
                <!--language--------->
                <div class="language">
                    <span><%= movie.language %></span>
                </div>


                </div>



                <!--title-bottom=============================================-->
                <div class="title-bottom">
                    <!-- category------------------- -->
                    <div class="category">
                        <strong>Category</strong><br/>
                        <a href="#"><%= movie.genre %></a>
                    </div>
                    <!--trailer-btn-------------->
                    <% if(user){ %>  
                        <% if(user.status === 'ADMIN'){ %>
                            <% if(movie.type === 'Series') {%>
                                <a href="#" class="watch-btn add-to-ep" onclick="showForm()">Add new Episode</a> 
                            <% } %>    
                        <% } %>    
                    <% } %>    
                </div>
                

            </div>

            <!-- play-btn*********************************-->
            <div class="play-btn-container">
                <div class="play-btn">
                    <a href="javascript:void">
                        <img src="/images/play.png" alt="" class="play-img">
                    </a>
                </div>
            </div>


            <!--Video/full-Movie***********************---------->
            <div id="play" class="play">
                <!-- close-btn---------->
                <a href="javascript:void" class="close-movie">
                    <img src="/images/remove.png" alt="" class="remove-img">
                </a>
                <!-- movie-------------->
                <div class="play-movie">
                    <video id="m-video" controls>
                        <source src="<%= movie.filePath %>" type="video/mp4">
                    </video>
                </div>
            </div>


        </div>

    </section>
    <!--Banner-end-------------------------->
    




    <!--details===========================================-->
    <section class="movie-details">
      <strong>
        <%= movie.title %>
      </strong>
      <p><%= movie.description %></p>
    </section>

    <!--ScreenShots=======================================-->
    <!-- <section class="screenshots">

    </section> -->

    <!--Download------------------>

    <section class="download-movie">
        <!--container------------>
        <% if(movie.type === 'Series'){ %>
          <% movie.episodes.forEach((ep, i) => { %>
              <div class="download-container">
                  <div class="download-box">
                      <span><i class="fas fa-server"></i> Episode <%= i + 1 %> </span>
                      <span><%= movie.language %></span>
                      <span>480p</span>
                      <a href="<%= ep.url %>" download>Download</a>
                  </div>
            </div>
         <% }); %>
        <% } else { %>  
          <div class="download-container">
              <!-- box -->
              <div class="download-box">
                <span><i class="fas fa-server"></i> Server 1</span>
                <span><%= movie.language %></span>
                <span>480p</span>
                <a href="<%= movie.filePath %>" download>Download</a>
              </div>
            </div>
        <% } %>  
    </section>
    


    <%- include('partials/footer') %>



    <script src="/js/preloader.js"></script>

    <!--jquery=================================================-->
    <script src="/js/jquery.js"></script>

  <script src="/js/movie-page.js"></script>
  <script src="/js/search.js"></script>
    <script>
        let form = document.querySelector('.form-ep');
            form.addEventListener('submit', async function(e){
                e.preventDefault();

                const formData = new FormData(this);

                try{
                    let res = await fetch(`/admin/moviesupload/<%= movie._id %>`, {
                        method: 'POST', // Change to 'PUT' if you want to update
                        body: formData,
                    });

                    if (!res.ok) throw new Error('Failed to upload episode.');
                    
                    // Handle success, like closing the form, showing a message, etc.
                    closeform();
                }
                catch(err){
                    console.log(err.message);
                }
            });

        function add_New_Ep(){ 
            document.querySelector('.main-ep').innerHTML += `<div class="ep-wrapper">
                    <input type="tel" name="episodeNumber" id="episodeNumber">
                    <input type="file" id="epFile" accept=".mkv,.mp4">
                </div>`
        }

        function closeform(){
            document.querySelector('.cont-upload-ep-wrapper').style.display = 'none';
        }

        function showForm(){
            document.querySelector('.cont-upload-ep-wrapper').style.display = 'flex';
        }
    </script>

</body>

</html>